<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayernavigation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <activity
            android:name=".EntryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
			android:label= "Albums Activity"
			android:name=".AlbumsActivity" >
			<intent-filter >
				<action android:name="com.example.AlbumsActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
        <activity
			android:label= "Artists Activity"
			android:name=".ArtistsActivity" >
			<intent-filter >
				<action android:name="com.example.ArtistsActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
        <activity
			android:label= "Songs Activity"
			android:name=".SongsActivity" >
			<intent-filter >
				<action android:name="com.example.SongsActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
        <activity
			android:label= "Player Activity"
			android:name=".PlayerActivity" >
			<intent-filter >
				<action android:name="com.example.PlayerActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
        
        <service android:name=".PlayerService" />
        <service android:name=".UpdateLibraryService" />
        
    </application>
    


</manifest>
